# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/www/administrator/*
!/www/administrator/components
/www/administrator/components/*
!/www/administrator/components/com_ars
!/www/administrator/language
/www/administrator/language/*
!/www/administrator/language/en-GB
/www/administrator/language/en-GB/*
!/www/administrator/language/en-GB/en-GB.com_ars.*
!/www/api
!/www/api-docs
/www/bin
/www/build
/www/cache
/www/cli/*
!/www/cli/ars-data
!/www/cli/gforge
!/www/cli/github
!/www/cli/ars-*.php
!/www/components
/www/components/*
!/www/components/com_ars
/www/images
/www/includes
/www/language/*
!/www/language/*-*/
/www/language/*-*/*
!/www/language/*-*/*.com_ars.ini
!/www/language/*-*/*.page_faqs.ini
!/www/language/*-*/*.page_home.ini
!/www/language/*-*/*.page_technical_requirements.ini
!/www/language/*-*/*.site_menuitems.ini
/www/layouts
/www/libraries/*
!/www/libraries/api
/www/media/*
!/www/media/com_ars
/www/modules/*
!/www/modules/mod_arsdlid
!/www/modules/mod_arsdownloads
/www/plugins/*
!/www/plugins/ars
!/www/plugins/content
/www/plugins/content/*
!/www/plugins/content/arsdlid
!/www/plugins/content/arslatest
!/www/plugins/system
/www/plugins/system/*
!/www/plugins/system/downloadsadmin
/www/templates/*
!/www/templates/joomla/
/www/templates/joomla/*
!/www/templates/joomla/css/
/www/templates/joomla/css/*
!/www/templates/joomla/css/custom.css
!/www/templates/joomla/css/custom-rtl.css
!/www/templates/joomla/html/
/www/templates/joomla/html/*
!/www/templates/joomla/html/com_ars/
!/www/templates/joomla/html/com_content/
!/www/templates/joomla/html/mod_languages/
!/www/templates/joomla/images/
/www/templates/joomla/images/*
!/www/templates/joomla/images/icon-*.png
!/www/templates/joomla/media/
/www/templates/joomla/media/*
!/www/templates/joomla/media/akeeba_strapper
/www/tests
/www/tmp
/www/.travis.yml
/www/CONTRIBUTING.md
/www/LICENSE.txt
/www/README.txt
/www/build.xml
/www/configuration.php
/www/htaccess.txt
/www/index.php
/www/phpunit.xml.dist
/www/phpunit.xml
/www/robots.txt.dist
/www/travisci-phpunit.xml
/www/web.config.txt

# Local Composer tools
/www/vendor
