# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_ars
!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_ars.ini
!/api
!/api-docs
/bin
/build
/cache
/cli/*
!/cli/ars-data
!/cli/gforge
!/cli/github
!/cli/ars-*.php
!/components
/components/*
!/components/com_ars
/images
/includes
/language/*
!/language/*-*/
/language/*-*/*
!/language/*-*/*.com_ars.ini
/layouts
/libraries/*
!/libraries/api
/media/*
!/media/com_ars
/modules/*
!/modules/mod_arsdlid
!/modules/mod_arsdownloads
/plugins/*
!/plugins/ars
!/plugins/content
/plugins/content/*
!/plugins/content/arsdlid
!/plugins/content/arslatest
!/plugins/system
/plugins/system/*
!/plugins/system/downloadsadmin
/templates/*
!/templates/joomla/
/templates/joomla/*
!/templates/joomla/css/
/templates/joomla/css/*
!/templates/joomla/css/custom.css
!/templates/joomla/css/custom-rtl.css
!/templates/joomla/html/
/templates/joomla/html/*
!/templates/joomla/html/com_ars/
!/templates/joomla/html/mod_languages/
!/templates/joomla/images/
/templates/joomla/images/*
!/templates/joomla/images/icon-*.png
!/templates/joomla/media/
/templates/joomla/media/*
!/templates/joomla/media/akeeba_strapper
/tests
/tmp
/.htaccess
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt
